{% extends 'base.html.twig' %}

{% block title %}Page administrateur{% endblock %}

{% block body %}


<div class="container justify-content-center">
  
    <button class="btn btn-secondary">
        <a href="{{ path('admin_utilisateurs') }}" class="nav-link">
            Gestion des utilisateurs
        </a>
    </button>

    <button class="btn btn-secondary">
        <a class="nav-link" href=" {{ path('blog_create') }} ">Créer un article</a>
    </button>


</div>


{% endblock %} 